body {
  margin: 0;
}

.App {
  font-family: "Maitree", serif;
  color: #43a047;
  text-align: center;
}

.favoritas{
  font-family: "Maitree", serif;
  color: #43a047;
  text-align: center;
}

h1 {
  margin-bottom: 0;
  margin-top: 10px;
}

/* Navbar */
a {
  text-decoration: none;
  color: white;
  margin: 2%;
}

.navbar {
  background: #43a047;
  padding: 20px;
  color: white;
  display: inline-block;
  width: 100%;
}